<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a ui-sref="home" class="brand-logo center">Library Service</a>
            <ul class="right hide-on-med-and-down">
                <c:if test="${not empty user}">
                    <form method="post" action="logout.action" id="logout">
                        <input type="hidden" name="action">
                        <a ui-sref="javascript:{}"
                           onclick="document.getElementById('logout').submit(); return false;"
                           class="waves-effect waves-light btn"
                        >Logout <i class="fa fa-share" aria-hidden="true"></i></a>
                    </form>

            </ul>
            <ul class="left hide-on-med-and-down">
                <form onClick="history.go(-1);return true;" enctype="multipart/form-data" method="get" id="back">

                    <a ui-sref="javascript:{}"
                       onclick="document.getElementById('back').submit(); return false;"
                       class="waves-effect waves-light btn"
                    >Back <i class="fa fa-reply" aria-hidden="true"></i></a>
                </form>

                </c:if>

                <c:if test="${empty user}">
                    <a ui-sref="login">Sign in</a>
                    <a ui-sref="registration">Sign up</a>
                </c:if>
            </ul>
        </div>
    </nav>
</div>

<main>
    <h3>${author.name} ${author.surname}</h3>
    <table class="striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <c:forEach var="book" items="${books}">
            <c:if test="${book.idAuthor == author.id}">
                <tr>
                    <td>${book.name}</td>
                    <td>${book.description}</td>
                    <c:if test="${not empty user}">
                        <td>
                            <form action="view_book.action" method="post" id="view_book${book.id}">
                                <input type="hidden" name="command" value="view_book">
                                <input type="hidden" name="author_id" value="${author.id}">
                                <input type="hidden" name="bookid" value="${book.id}">
                                <a ui-sref="javascript:{}"
                                   onclick="document.getElementById('view_book${book.id}').submit(); return false;"
                                   class="waves-effect waves-light btn"
                                        ><i class="fa fa-eye" aria-hidden="true"></i> </a>
                            </form>
                        </td>
                    </c:if>
                    <c:if test="${user.admin == true}">
                        <td>
                            <form action="delete_book.action" method="post" id="delete_book${book.id}">
                                <input type="hidden" name="bookid" value="${book.id}">
                                <a ui-sref="javascript:{}"
                                   onclick="if(confirm('Are you sure?')){document.getElementById('delete_book${book.id}').submit();return true}else{return false;}"
                                   class="waves-effect waves-light btn"
                                        ><i class="fa fa-trash" aria-hidden="true"></i> </a>
                            </form>

                        </td>
                    </c:if>
                </tr>
            </c:if>
        </c:forEach>
    </table>
</main>
<footer class="page-footer" id="footer">
    <div class="container grey-text">
        <span class="left">Copyright 2016</span>
        <span class="right">Made by LibraryServiceCompany</span>
    </div>
</footer>
