<br>
    <a ui-sref="edit_book({ id: book.book.id})"class="waves-effect waves-light btn"> Edit book <i class="fa fa-edit" aria-hidden="true"></i></a>
<table>
    <tr>
        <td class="leftcol">Book author</td>
        <td class="rightcol">{{book.author.name}} {{book.author.surname}}</td>
    </tr>
    <tr>
        <td class="leftcol">Title:</td>
        <td class="rightcol">{{book.book.name}}</td>
    </tr>
    <tr>
        <td class="leftcol">Description:</td>
        <td class="rightcol">{{book.book.description}}</td>
    </tr>
    <tr>
        <td class="leftcol">Count of views:</td>
        <td class="rightcol">{{book.book.countOfViews}}</td>
    </tr>
</table>

<!--<form class="waves-effect waves-light btn" method="post" action="add_book_to_collection.action">-->
    <!--<input type="hidden" name="user_id" value="${user.id}">-->
    <!--<input type="hidden" name="book_id" value="${bookVO.book.id}">-->
    <!--<input type="submit" value="Add to my collection">-->
    <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
<!--</form>-->

<!--<form class="waves-effect waves-light btn" action="open_author.action" method="post">-->
    <!--<input type="hidden" name="author_id" value="${bookVO.author.id}">-->
    <!--<input type="submit" value="View author of book">-->
    <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
<!--</form>-->


<table class="striped">
    <thead>
    <tr>
        <th>User</th>
        <th>Review</th>
    </tr>
    </thead>
    <tr ng-repeat="comment in book.listOfComments">
        <td>{{comment.user}}</td>
        <td>{{comment.review}}</td>
        <!--<c:if test="${user.admin == true}">-->
            <!--<td>-->
                <!--<form action="delete_comment.action" method="post" id="delete_comment${comment.id}">-->
                    <!--<input type="hidden" name="comment_id" value="${comment.id}">-->
                    <!--<input type="hidden" name="book_id" value="${bookVO.book.id}">-->
                    <!--<a ui-sref="javascript:{}"-->
                       <!--onclick="if(confirm('Are you sure?')){document.getElementById('delete_comment${comment.id}').submit();return true}else{return false;}"-->
                       <!--class="waves-effect waves-light btn">-->
                        <!--<i class="fa fa-trash" aria-hidden="true"></i> </a>-->
                <!--</form>-->


            <!--</td>-->
        <!--</c:if>-->
    </tr>
</table>
    <textarea maxlength="10000" ng-model="review" name="review" placeholder="Input your review here..."></textarea>
    <a ng-click="addComment()"
       class="waves-effect waves-light btn">
        Add comment </a>


<!--<br>-->
<!--<table>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<form action="read_online.action" enctype="multipart/form-data" method="get" id="read_online">-->
                <!--<input type="hidden" name="book_id" value="${bookVO.book.id}">-->
                <!--<a ui-sref="javascript:{}"-->
                   <!--onclick="document.getElementById('read_online').submit(); return false;"-->
                   <!--class="waves-effect waves-light btn"-->
                        <!--&gt;Read online </a>-->
            <!--</form>-->
        <!--</td>-->
        <!--<td>-->
            <!--<form action="download_book.action" method="get" id="download_fb2">-->
                <!--<input type="hidden" name="bookPath" value="${bookVO.downloadPaths[0].path}">-->
                <!--<a ui-sref="javascript:{}"-->
                   <!--onclick="document.getElementById('download_fb2').submit(); return false;"-->
                   <!--class="waves-effect waves-light btn"-->
                        <!--&gt;Download FB2 </a>-->
            <!--</form>-->
        <!--</td>-->
        <!--<td>-->
            <!--<form action="download_book.action" method="get" id="download_pdf">-->
                <!--<input type="hidden" name="bookPath" value="${bookVO.downloadPaths[1].path}">-->
                <!--<a ui-sref="javascript:{}"-->
                   <!--onclick="document.getElementById('download_pdf').submit(); return false;"-->
                   <!--class="waves-effect waves-light btn"-->
                        <!--&gt;Download PDF </a>-->
            <!--</form>-->
        <!--</td>-->
        <!--<td>-->
            <!--<form action="download_book.action" method="get" id="download_txt">-->
                <!--<input type="hidden" name="bookPath" value="${bookVO.downloadPaths[2].path}">-->
                <!--<a ui-sref="javascript:{}"-->
                   <!--onclick="document.getElementById('download_txt').submit(); return false;"-->
                   <!--class="waves-effect waves-light btn"-->
                        <!--&gt;Download TXT </a>-->
            <!--</form>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->