  <div class="row">
    <div class="input-field col s6" id="log">

      <input type="text" ng-model="book.book.name" id="title" maxlength="45" required name="title"  class="validate">
      <label class="active" for="title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6" id="desc">
      <textarea id="textarea1" ng-model="book.book.description" name="description" class="materialize-textarea"></textarea>
      <label for="textarea1">Description</label>
  </div>
  </div>

  <br>

  <table>
    <tr>
      <td><h5>Path for online reading</h5></td>
      <td><h5>Path for download in fb2</h5></td>
      <td><h5>Path for download in pdf</h5></td>
      <td><h5>Path for download in txt</h5></td>
    </tr>
    <tr>
      <td>
        <input  id="path_online" type="file" name="read_file" >
      </td>
      <td>
        <input id="path_fb2"  type="file" name="fb2_file" >
      </td>
      <td>
        <input id="path_pdf" type="file" name="pdf_file" >
      </td>
      <td>
        <input id="path_txt" type="file" name="txt_file">
      </td>
    </tr>
  </table>
  <br>
  <br>
  <button ng-click="editBook(book.book)" class="btn waves-effect waves-light"id="log_button" input type="submit" name="action">Edit
    <i class="material-icons right">send</i>
  </button>
